$main-color:rgb(252,206,120); //主色-橙色
$bg-color:rgb(242,242,242);//背景色-浅灰
$placeholder-fontsize{
	font-size: 32rpx;
}

// 常用flex布局方式
@mixin primary-flex($flex-direction:row,$justify-content:center,$align-items:center) {
	display: flex;
	flex-direction:$flex-direction;
	justify-content:$justify-content;
	align-items:$align-items;
}
